@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.dividerWrap {
  @include container;
}

.subtleDivider {
  @include divider;
}

.solutionsSection {
  padding-top: 96px;
  padding-bottom: 96px;

  @include md {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
