@use "../../styles/variables" as *;

.wrapper {
  position: relative;
  display: block;
  width: 260px;
  height: 180px;

  @media (max-width: 767px) {
    width: 200px;
    height: 138px;
  }
}

.flagCanvas {
  position: absolute;
  inset: 0;
}
