@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper {
  max-width: 768px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.eyebrow {
  @include eyebrow;
  margin-bottom: 16px;
}

.title {
  @include heading-section;
}

.description {
  @include body-text;
  margin-top: 20px;

  @include sm {
    font-size: 16px;
  }
}
